
.carousel-container{
    max-width: 50rem;
    height:32rem;
    box-sizing: border-box;
    margin: 1.25rem auto;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.carousel-item {
    border: 1px solid gray;
    color:black;
    position: relative;
    height: 100%;
    min-width: 100%;
    transition:0.5s;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    animation: 2s slide;
}

@keyframes slide {
    from {opacity: .6} 
    to {opacity: 1}
  }

%button-styles{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    width:5%;
    height: 80vh;
    background: none;
    outline: none;
    border: none;
    background:black;
    cursor: pointer;
   justify-content: center;
    color: #fff;
    &:hover{
        background: rgb(95, 90, 90);
        color: #000;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
}
}
.carousel-left {
    @extend %button-styles;
    left: 0;
}

.carousel-right {
    @extend %button-styles;
    right: 0;
    
}

%lines{
    width: 5rem;
        height: .25rem;
        border: 1px solid gray;
        gap: 0.5em;
}

.container-lines {
    display:flex;
    flex-direction: row;
    position: absolute;
    left:12.5rem;
    bottom:2rem;

    .lines {
        @extend %lines;

    }
    .lines-active {
        @extend %lines;
         background:white;
    }
    &:hover{
        cursor: pointer;    
    }
}

