
@mixin displayflex {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.slides-container{
   @include displayflex;
    background-color:#000;
    color:#fff;
    min-width: 100%;
    height:80vh;
    
    .slides{
        @include displayflex;
    }

    .content{
        @include displayflex;
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 600px) {
    .slides-container .slides {
        font-size:0.5rem !important;
    }
  }
